body {
	background-color: #777777;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 10pt;
}

#header {
	background-color: #A0A0A0;
	margin: auto;
	height: 90px;
	padding: 20px;
}

#footer {
	background-color: #A0A0A0;
	margin: auto;
	height: 90px;
	padding: 20px;
	text-align: right;
}

#footer > .signature {
	display: block;
	font-size: 8pt;
}